<html>

<head> 
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>


<section id="shipchoice">
<ul>
	<li><a href="/game/ship/aircraftcarrier">Aircraft Carrier</a></li>
	<li><a href="/game/ship/battleship">Battleship</a></li>
	<li><a href="/game/ship/destroyer">Destroyer</a></li>
	<li><a href="/game/ship/submarine">Submarine</a></li>
	<li><a href="/game/ship/tug">Tug</a></li>
</ul>
</section>

<section id="orientation">
	<a id="vertical" href="/game/orientation/vertical"> &#x2191; </a><br>
	<a id="horizontal" href="/game/orientation/horizontal"> &#x2192; </a>
</section>


<table id="homegrid">
<% session[:homegrid].display.each_with_index do |row, index| %>
	<% row_name = ("A".."Z").to_a[index] %>
	<tr class="<%=row_name%>"> 
		<% row.each_with_index do |element, index| %>

			<% column_number = (index + 1).to_s %>

			<td class="element" bgcolor="<%= "#D6EBFF" if element.nil? %>"><div class="cell"><a href="/game/coordinate/<%=row_name + column_number%>"></a></div></td>

			<% end %>
			<br>
	</tr>
<% end %>
</table>

<% if session[:player].all_deployed?%>
	<table id="target">
	<% session[:targetgrid].display.each_with_index do |row, index| %>
		<% row_name = ("A".."Z").to_a[index] %>
		<tr class="<%=row_name%>"> 
			<% row.each_with_index do |element, index| %>

				<% column_number = (index + 1).to_s %>

				<td class="element" bgcolor="<%= "#D6EBFF" if element.nil? %>"><div class="cell"><a href="/game/coordinate/<%=row_name + column_number%>"></a></div></td>

				<% end %>
				<br>
		</tr>
	<% end %>
	</table>
<% end %>



</body>

</html>